/* Element overrides */

html {
  padding: 0;
}

body {
  background-color: #eee;
}

button {
  cursor: pointer;
}

/* Extra components and variations */

.with-inner-icon {
  display: block;
  position: relative;
}

.with-inner-icon > *:not(.fa) {
  padding-right: 1.5rem
}

.with-inner-icon > .fa {
  position: absolute;
  top: 50%;
  right: 0.7rem;
  margin-top: -0.5rem;
  font-size: 1rem;
}

.badge .close {
  margin-left: 0.25rem;
  color: white;
  font-size: 100%;
  text-shadow: none;
}

.card-header {
  border-top: none;
  border-left: none;
  border-right: none;
}

.card-block-divided {
  border-bottom: 1px solid rgba(0,0,0,.125);
}

/* Extra utility classes */

.text-ellipsis {
  text-overflow: ellipsis;
  min-width: 0;
  white-space: nowrap;
  overflow: hidden;
}

.always-on-top {
  z-index: 2000;
}

.overflow-auto {
  overflow: auto;
}

.scrolling-section {
  height: 100vh;
  padding-top: 1rem;
  padding-bottom: 1rem;
  overflow: auto;
}

/* Specific elements */

.environments-btn {
  width: 100%;
  white-space: normal;
  text-align: left;
  font-size: 24px;
}
