main {
  display: flex;
  flex-direction: row;
  height: 100vh;
  background-color: #eee;
}

.sidebar {
  flex: 1;
  display: flex;
  flex-direction: column;
  max-width: 35vw;
  padding: 0.75rem;
}

/* Sidebar header */

.sidebar-header {
  display: flex;
  margin-bottom: 0.5rem;
}

.menu-button {
  flex: 1;
  height: auto;
  padding: 0.75rem 0.5rem;
  justify-content: flex-start;
  align-items: center;
  line-height: 1;
}

.menu-button .tags {
  flex: 1;
  text-align: left;
}

.search-button {
  height: auto;
  margin-left: 0.5rem;
  padding: 0.75rem 1.25rem;
}

.logo {
  width: 2rem;
  margin-right: 0.25rem;
}

/* Sidebar content */

.sidebar-content {
  flex: 1;
  position: relative;
}

.sidebar-content > * {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow-y: auto;
  background-color: #eee;
}

.sidebar-bug-group {
  padding: 0;

  /* Fix cut-off borders */
  margin-left: 1px;
  margin-right: 1px;
}

.sidebar-bug {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0.5rem 0.5rem 0.5rem 1rem;
  margin-bottom: 0;
}

.sidebar-bug:not(:last-child) {
  border-bottom: 1px solid #ddd;
}

.sidebar-bug-title {
  flex: 1;
  min-width: 0;
}

.sidebar-bug-title > * {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.sidebar-bug-tags {
  margin-left: 0.5rem;
}

.sidebar-bug-tags > * {
  margin-left: 0.25rem;
}

/* Selected bug */

.selected-bug {
  flex: 1;
  margin: 0.75rem 0.75rem 0.75rem 0.25rem;
  padding: 1rem;
  overflow-y: auto;
}

.selected-bug-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 0.75rem;
}

.selected-bug-title {
  flex: 1;
}

.section {
  padding: 0 0 1rem 0;
}

.section-title {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
}

.section-title .menu-label {
  flex: 1;
  margin-bottom: 0;
}

.section-title .button {
  margin-left: 0.5rem;
}

.linked-issue {
  display: flex;
  align-items: center;
  padding: 1rem;
  line-height: 1;
}

.linked-issue .description {
  flex: 1;
}

.stack-trace {
  overflow-x: auto;
  padding: 0.75rem;
  padding-left: 2.75rem;
  text-indent: -2rem;
}

.stack-trace code {
  display: block;
  background-color: transparent;
}

.occurrence-title {
  background-color: transparent;
}